{% extends "base.html" %}{% block title %}Calendar{% endblock %} {% block content%}
<br />
<h1 style="color:rgb(255, 226, 165);text-align:center;"> Weekly Calendar</h1>
	<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
	  <div class="cd-schedule__timeline">
		<ul>
		  <li><span>09:00</span></li>
		  <li><span>09:30</span></li>
		  <li><span>10:00</span></li>
		  <li><span>10:30</span></li>
		  <li><span>11:00</span></li>
		  <li><span>11:30</span></li>
		  <li><span>12:00</span></li>
		  <li><span>12:30</span></li>
		  <li><span>13:00</span></li>
		  <li><span>13:30</span></li>
		  <li><span>14:00</span></li>
		  <li><span>14:30</span></li>
		  <li><span>15:00</span></li>
		  <li><span>15:30</span></li>
		  <li><span>16:00</span></li>
		  <li><span>16:30</span></li>
		  <li><span>17:00</span></li>
		  <li><span>17:30</span></li>
		  <li><span>18:00</span></li>
		</ul>
	  </div> <!-- .cd-schedule__timeline -->
	
	  <div class="cd-schedule__events">
		<ul>
		  <li class="cd-schedule__group">
			<div class="cd-schedule__top-info" style = "color:rgb(255, 226, 165);" ><span>Monday</span></div>
	
			<ul>
			  <li class="cd-schedule__event">
				<a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
				  <em class="cd-schedule__name">{{user.tasks[0].data}}</em>
				</a>
			  </li>
			  <li class="cd-schedule__event">
				<a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
				  <em class="cd-schedule__name">{{user.tasks[1].data}}</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="14:00" data-end="15:15"  data-content="event-yoga-1" data-event="event-3" href="#0">
				  <em class="cd-schedule__name">Yoga Level 1</em>
				</a>
			  </li>
			</ul>
		  </li>
	
		  <li class="cd-schedule__group">
			<div class="cd-schedule__top-info" style = "color:rgb(255, 226, 165);"><span>Tuesday</span></div>
	
			<ul>
			  <li class="cd-schedule__event">
				<a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">
				  <em class="cd-schedule__name">Finish up code for CS 1021</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="11:30" data-end="13:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
				  <em class="cd-schedule__name">Study for calc exam</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="13:30" data-end="15:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
				  <em class="cd-schedule__name">Workout</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
				  <em class="cd-schedule__name">Watch recorded lecture</em>
				</a>
			  </li>
			</ul>
		  </li>
	
		  <li class="cd-schedule__group">
			<div class="cd-schedule__top-info" style = "color:rgb(255, 226, 165);"><span>Wednesday</span></div>
	
			<ul>
			  <li class="cd-schedule__event">
				<a data-start="09:00" data-end="10:15" data-content="event-restorative-yoga" data-event="event-4" href="#0">
				  <em class="cd-schedule__name">Chem Recitation</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="10:45" data-end="11:45" data-content="event-yoga-1" data-event="event-3" href="#0">
				  <em class="cd-schedule__name">Intro to Coop</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="12:00" data-end="13:45"  data-content="event-rowing-workout" data-event="event-2" href="#0">
				  <em class="cd-schedule__name">Lunch</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="13:45" data-end="15:00" data-content="event-yoga-1" data-event="event-3" href="#0">
				  <em class="cd-schedule__name">Workout</em>
				</a>
			  </li>
			</ul>
		  </li>
	
		  <li class="cd-schedule__group">
			<div class="cd-schedule__top-info" style = "color:rgb(255, 226, 165);"><span>Thursday</span></div>
	
			<ul>
			  <li class="cd-schedule__event">
				<a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
				  <em class="cd-schedule__name">Info Security Lecture</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="12:00" data-end="13:45" data-content="event-restorative-yoga" data-event="event-4" href="#0">
				  <em class="cd-schedule__name">ENED homework</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="15:30" data-end="16:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
				  <em class="cd-schedule__name">Chem Lecture</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="17:00" data-end="18:30"  data-content="event-rowing-workout" data-event="event-2" href="#0">
				  <em class="cd-schedule__name">Dinner</em>
				</a>
			  </li>
			</ul>
		  </li>
	
		  <li class="cd-schedule__group">
			<div class="cd-schedule__top-info" style = "color:rgb(255, 226, 165);"><span>Friday</span></div>
	
			<ul>
			  <li class="cd-schedule__event">
				<a data-start="10:00" data-end="11:00"  data-content="event-rowing-workout" data-event="event-2" href="#0">
				  <em class="cd-schedule__name">ENED lecture</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="12:30" data-end="14:00" data-content="event-abs-circuit" data-event="event-1" href="#0">
				  <em class="cd-schedule__name">Programming Lecture</em>
				</a>
			  </li>
	
			  <li class="cd-schedule__event">
				<a data-start="15:45" data-end="16:45"  data-content="event-yoga-1" data-event="event-3" href="#0">
				  <em class="cd-schedule__name">Dinner</em>
				</a>
			  </li>
			</ul>
		  </li>
		</ul>
	  </div>
	
	  <div class="cd-schedule-modal">
		<header class="cd-schedule-modal__header">
		  <div class="cd-schedule-modal__content">
			<span class="cd-schedule-modal__date"></span>
			<h3 class="cd-schedule-modal__name"></h3>
		  </div>
	
		  <div class="cd-schedule-modal__header-bg"></div>
		</header>
	
		<div class="cd-schedule-modal__body">
		  <div class="cd-schedule-modal__event-info"></div>
		  <div class="cd-schedule-modal__body-bg"></div>
		</div>
	
		<a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
	  </div>
	
	  <div class="cd-schedule__cover-layer"></div>
	</div> <!-- .cd-schedule -->
  
	<script src="{{url_for('static', filename='util.js')}}"></script> <!-- util functions included in the CodyHouse framework -->
	<script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
{% endblock %}