{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Tasks</h1>
<ul class="list-group list-group-flush" id="tasks">
  {% for task in user.tasks %}
  <li class="list-group-item">
    {{ task.data }}
    <button type="button" class="close" onClick="deleteNote({{ task.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="task" id="task" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Task</button>
  </div>
</form>
{% endblock %}
